body {
  background-color: #222;
  color: #ddd;
  font-family: "OpenSans", sans-serif;
}

.container {margin: 0; max-width: 100%;}

.left {
  border-right: 1px solid #444;
}

#name-list {
  width: 80%;
  max-height: 240px;
  overflow-y: auto;
  background-color: #333;
  float: bottom;
  position: absolute;
  z-index: 5;
}
#name-list ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
#name-list ul li {
  border-bottom: 1px solid #daa;
  cursor: pointer;
}
#name-list ul li:hover {
  background-color: #433;
}

.btn, .input-label {
  font-size: .7em;
  margin-left: 10%;
}

.form-control {
  height: 2em;
  font-size:0.8em;
}

.pokemon-form {
  margin: 1em;
}

.del {
  position: absolute;
  right: -1em;
  top: 0;
}
.del:hover {
  color: #844;
  cursor: pointer;
}
