body {
  background-color: #222;
  color: #ddd;
  font-family: "OpenSans", sans-serif;
}

.container {margin: 0; max-width: 100%;}

.left {
  background-color: #222;
  border-right: 1px solid #444;
  height: 640px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#name-list {
  width: 80%;
  max-height: 240px;
  overflow-y: auto;
  background-color: #333;
  float: bottom;
  position: absolute;
  z-index: 5;
}
#name-list ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
#name-list ul li {
  border-bottom: 1px solid #daa;
  cursor: pointer;
}
#name-list ul li:hover {
  background-color: #433;
}

.btn, .input-label {
  font-size: .7em;
  margin-left: 10%;
}

.form-control {
  height: 2em;
  font-size:0.8em;
}

.pokemon-form {
  margin: 1em;
}

.del {
  position: absolute;
  right: -1em;
  top: 0;
}
.del:hover {
  color: #844;
  cursor: pointer;
}

.header-float {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: #a55;
  padding-left: 1em;
  padding-right: 1em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  margin-bottom: 1em;
}
.header-float a {
  color: #444;
}
.header-float a:hover {
  color: #222;
  text-decoration: none;
}

.footer-float {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #444;
  padding-left: 1em;
  padding-right: 1em;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}
.footer-float a {
  color: #aaa;
}
.footer-float a:hover {
  color: #888;
  text-decoration: none;
}

#add-pokemon {
  margin-left: 0;
  position: relative;
  left: 50%;
  top: 2.7em;
  transform: translateX(-50%);
}

.style-form>.container>.row {
  margin-bottom: 0.2em;
}

#preview {
  width: 720px;
}

#preview > .row {
  margin-left: 37px;
}
.pokemon-card {
  width: 300px;
  height: 128px;
  margin-top: 4px;
  margin-right: 20px;
  background-color: #487;
  transform: skewX(-15deg);
}
.pokemon-card img {
  transform: skewX(15deg);
}
.pokemon-card-nickname {
  font-size: 2em;
  transform: skewX(15deg);
}
.pokemon-card-name {
  transform: skewX(15deg);
}
.pokemon-card-level {
  transform: skewX(15deg);
}
.pokemon-card-gender {
  transform: skewX(15deg);
}
